<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <form>
        <section class="">
            <h5>Insert data in YYYY-MM-DD format</h5>
            <input placeholder="From" name="dateFrom" id="from" type="date" class="datepicker" />
            <input placeholder="To" name="dateTo" id="to" type="date" class="datepicker" />
        </section>
        <section class="form">
            {% for key in keys %}
                <article>
                  <input class="filled-in" type="checkbox" id="checkbox-{{ key }}" name="key" value="{{ key }}" />
                  <label for="checkbox-{{ key }}">{{ key }}</label>
                </article>
            {% endfor %}
            <button class="submitOne btn-large">Get selected</button>
            <button class="btn-large getAll">Get all</button>
    </form>
    </section>

    <script type="text/javascript">

    $('.datepicker').pickadate({
        selectMonths: true,
        selectYears: 15,
        format: 'yyyy-mm-dd'
      });
        $('.submitOne').on('click', function(e) {
            e.preventDefault();
            var data = $('form').serialize();
            sendPost(data);
        });

        $('.getAll').on('click', function(e) {
            e.preventDefault();
            $('.filled-in').prop('checked', true);
            var data = $('form').serialize();
            sendPost(data);

        });

        function sendPost(data) {
            $.ajax({
                url: '/getTime',
                type: 'post',
                data: data,
                success: function(data) {
                    $('#target').html(data.msg);
                }
            });
        }
    </script>
</body>

</html>
